@model string

<form id="sortForm" action="@Model">
    <label class="form-label">Sortowanie</label>
    <select id="sortOrder" name="SortOrder" class="form-control form-control-sm">
        @foreach (var item in @ViewBag.Values){
            if (ViewData["Selected"].ToString()!=null && ViewData["Selected"].ToString() == item.Key){
                <option value="@item.Key" selected>@item.Value</option>
            }
            else {
                <option value="@item.Key">@item.Value</option>
            }
        }
    </select>
</form>


