@model IPagedList<Survey>
@using X.PagedList;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;

@{
    Tuple<IPagedList<Survey>, string, string> paginationData = new Tuple<IPagedList<Survey>, string, string>(@Model, "Survey", "MySurveys");
}

<div class="row align-items-start">

    <div class="col">
        <div class="mb-3">
            <h5>Lista ankiet</h5>
        </div>
        <div class="list-group list-group-flush bg-white">
            @foreach (var survey in Model){
                <div class="list-group-item d-flex w-100 align-items-center justify-content-between">
                        <div class="col-9">
                            <a class="text-decoration-none text-dark" asp-route-id="@survey.Id" asp-controller="Survey" asp-action="Details"><strong class="mb-1">@survey.Title</strong></a><br>
                            @if (survey.Status == "O"){
                                <small class="small">Status: Otwarta</small>
                            }
                            else if (survey.Status == "C"){
                                <small class="small">Status: Zamknięta</small>
                            }
                            <small class="small">Data zamknięcia: @survey.EndDate</small>
                        </div>
                        <div>
                            @if (survey.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                            {
                                <a class="text-decoration-none text-dark btn btn-light" asp-route-id="@survey.Id" asp-controller="Response" asp-action="Details">Wyniki</a>
                                <a class="text-decoration-none text-dark btn btn-light" asp-route-id="@survey.Id" asp-controller="Survey" asp-action="Edit"><i class="answerIcon bi"></i> Edytuj</a>
                                <a class="text-decoration-none text-dark btn btn-light" data-toggle="modal" data-target="#deleteModal_@survey.Id"><i class="bi bi-trash3-fill"></i> Usuń</a>
                                <form asp-route-id="@survey.Id" asp-controller="Survey" asp-action="Delete" method="post">
                                    <partial name="Templates/_ModalDelete" model="@survey.Id" />
                                </form>
                            }
                        </div>
                </div>
                
            }
        </div>
        <partial name="Templates/_Pagination" model="@paginationData"/>
    </div>
</div>