@model ResponseViewModel

@{
	ViewData["Title"] = "Wyniki ankiety";
}
<div>
	<div class="mb-3">
		<h3>@Model.Survey.Title</h3>
	</div>

    <ul class="list-group list-group-flush">
        @for (int i = 0; i < Model.Questions.Count(); i++)
        {
            <li class="list-group-item">
                <h4>@(i+1). @Model.Questions[i].Text</h4>
                <div class="form-check">
                    @for (int j = 0; j < Model.Questions[i].Answers.Count(); j++)
                    {
                        <p>@j. @Model.Questions[i].Answers[j].Text</p>
                    }
                </div>
            </li>
        }
    </ul>
</div>



@foreach (var Response in Model.Responses)
{
	<div>
		<p>User Id: @Response.Response.UserId</p>
	</div>
}
